.record {
  background: #4F4F4F;
  padding: 40px 0;
  color: #FFFFFF;
}

.record__wrapper {
  width: 1200px;
  margin: 0 auto;
}


.record__button {
  background-color: #9a79e1;
  border: 1px solid #9a79e1;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  padding: 25px 55px;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  display: block;
  margin: 35px auto 0;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: transparent;
  }
}
