.book-pagination-container {
    display: flex;
}

.book-pagination__page {
    padding: 10px;

    color: #fff;
    font-weight: 500;

    background-color: #9a79e1;
    border-radius: 5px;
}

.book-pagination-prev__btn, .book-pagination-next__btn {
    margin: 0 10px;
    padding: 10px;

    border: 2px solid #9a79e1;
    border-radius: 5px;

    &:hover {
        background-color: #9a79e1;
    }
}
