.header {
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
}

.header__wrapper {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  list-style: none;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;

  cursor: pointer;
  transition: all .3s ease-in-out;

  &_active {
    border-bottom-color: #ffffff;
    font-weight: 900;
  }

  &:hover {
    border-bottom-color: #ffffff;
  }
}

.menu__item + .menu__item {
  margin-left: 35px;
}

.header__button {
  background-color: #9a79e1;
  border: 1px solid #9a79e1;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  padding: 10px 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: transparent;
  }
}

.header__wrapper-user {
  display: flex;
  align-items: center;
}

.header__button-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #9A79E1;
  background-color: #9A79E1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: transparent;
  }

  & svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header__name-user {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #9A79E1;
  margin-right: 20px;
}
