$sectionCount: 6;

@mixin section-item($i) {
    [data-sec='#{$i}'] {
        --bgc: rgba(var(--s#{$i}-color), 0.5);
        --clr: rgba(var(--s#{$i}-color));
    }
}

:root {
    --s0-color: 154, 121, 225;
    --s1-color: 219, 124, 245;
    --s2-color: 117, 82, 191;
    --s3-color: 105, 121, 248;
    --s4-color: 170, 93, 219;
    --s5-color: 121, 175, 225;
    --s6-color: 225, 121, 121;
}

@for $idx from 0 through $sectionCount {
    @include section-item($idx);
}

.book {
    background-color: #4f4f4f;
    min-height: 100vh;
}

.book-container {
    padding: 45px 0;
}

.book-loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 100%;
    height: 100%;

    background-color: rgba(79, 79, 79, 0.71);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

    svg {
        width: 150px;
        height: 150px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
